<section class="room-header">
  <div class="user-display">
    <div class="name">
      <%= render 'users/name' %>
    </div>

    <div class="user-language">
      <%= render 'users/language' %>
    </div>
  </div>

  <div class="room-info">
    <%= render 'room_members/index' %>
  </div>
</section>

<section class="messages">
  <div class="wrapper">
    <ul id="messages">
    </ul>
  </div>
</section>

<section class="message-input" id="message_create_form">
  <%= render 'messages/form' %>
</section>

<%= content_for :javascript do %>
<script src="https://pubnub.a.ssl.fastly.net/pubnub.min.js"></script>
<script>
  (function() {
    WebSocket = PUBNUB.ws;
    var $messages = $('#messages');
    var socket = new WebSocket('wss://pubsub.pubnub.com/demo/demo/<%= @room.id %>');
    var currentUserId = '<%= current_user.id %>';

    var tmpl = {
      sender: function(data) {
        return $('<div/>').addClass('message-sender').text(data.sender_name);
      },
      messageBody: function(data) {
      return $('<div/>')
        .addClass('message-body')
        .text(data.message[currentLanguage()])
        .attr('title', data.source_language + ' -> ' + data.original_text);
      },
      message: function(data) {
        var $li = $("<li/>").append(this.sender(data)).append(this.messageBody(data));

        if (data.sender_id === currentUserId) {
          $li.addClass('me');
        }

        return $li;
      }
    };

    function currentLanguage() {
      return $('#user_language').val();
    }

    socket.onmessage = function(evt) {
      console.log('message received', evt.data);
      $messages.append(tmpl.message(evt.data));
    }

    socket.onclose = function() {
    }

    socket.onerror = function() {
    }

    socket.onopen = function(evt) {
    }

    socket.onsend = function(evt) {
    }

    setInterval(function() {
      $.get('<%= room_members_path(@room) %>')
    }, <%= RoomPresence::TIMEOUT * 500 %>);
  })();

  $(document).on('click', '.room-info p', function() {
      open = $('.members').is(':visible');
      $('.members').slideToggle(!open);
  });
</script>
<% end %>
