<h1><%= @room.name %></h1>

<ul id="messages">
</ul>

<div class="members-wrapper">
  <%= render 'room_members/index' %>
</div>

<div id="message_create_form">
  <%= render 'messages/form' %>
</div>

<%= content_for :javascript do %>
<script src="https://pubnub.a.ssl.fastly.net/pubnub.min.js"></script>
<script>
(function() {
  WebSocket = PUBNUB.ws;
  var $messages = $('#messages');
  var socket = new WebSocket('wss://pubsub.pubnub.com/demo/demo/<%= @room.id %>');

  var tmpl = {
    sender: function(data) {
      return $('<span/>').addClass('message-sender').text(data.sender_name);
    },
    messageBody: function(data) {
      return $('<span/>').addClass('message-body').text(data.message);
    },
    message: function(data) {
      return $("<li/>").append(this.sender(data)).append(this.messageBody(data));
    }
  };

  socket.onmessage = function(evt) {
    console.log('message received', evt.data);
    $messages.append(tmpl.message(evt.data));
  }

  socket.onclose = function() {
  }

  socket.onerror = function() {
  }

  socket.onopen = function(evt) {
  }

  socket.onsend = function(evt) {
  }


  setInterval(function() {
      $.get('<%= room_members_path(@room) %>')
  }, 5000);
})();
</script>
<% end %>
