<!DOCTYPE html>
<html>
<head>
  <title>Jaunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main">
  <%= render 'shared/main_header' %>
</header>

<section class="user-header">
    <div class="user-display">
      <%= render 'users/name' %>
    </div>

    <div class="user-language">
      <%= render 'users/language' %>
    </div>
</section>

<%= yield %>

<%= yield :javascript %>
</body>
</html>
