<!DOCTYPE html>
<html>
<head>
  <title>Jaunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="main">
    <%= render 'shared/main_header' %>
  </header>

  <%= yield %>

  <%= yield :javascript %>

  <footer>
    <p>Built with love for <a href="https://koding.com/Hackathon" target=_blank>Koding Global Hackathon</a></p>
    <p>The team: <a href="http://twitter.com/nonrational" target="_blank">@nonrational</a>, <a href="http://twitter.com/samandmoore" target="_blank">@samandmore</a>, <a href="http://twitter.com/jmileham" target="_blank">@jmileham</a>, <a href="http://twitter.com/madysondesigns" target="_blank">@madysondesigns</a></p>
  </footer>
</body>
</html>
